.feedback {
    color: rgba(0, 0, 0, 0.637);
    font-size: .8em;
    position: absolute;
    right: 0;
    bottom: -.4em;
    background: white;
    padding-left: 20px;
}

.feedback:visited {
    color: rgba(0, 0, 0, 0.637);
}

#logo-search-div {
    display: flex;
    align-items: center; 
}

#google-logo-div {
    display: inline-block;
    min-width: 150px;
    max-width: 150px;
    margin: 0em .5em .5em;
}

#google-logo {
    width: 100%;
}

#search-bar-div {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: 650px;
    height: 3em;
    margin: 1em;
    border-radius: 2em;
    box-shadow: 0px 1px 4px rgba(59, 59, 59, 0.418);
}

#search-bar-div:hover {
    box-shadow: 0px 2px 6px rgba(46, 46, 46, 0.521);
}

#search-bar {
    margin-left: 1em;
    width: 85%;
    font-size: 1.2em;
    border: none;
}

#search-bar:focus-visible {
    outline: none;
}

#search-buttons-div {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

#search-button {
    background: none;
}

#search-image {
    opacity: 50%;
}

#mic-button {
    background: none;
}

#mic-image {
    opacity: 50%;
}

#search-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 175px;
}

.search-nav-img {
    padding: .5em;
    background: none;
    border: solid 1px white;
    border-radius: 5em;
}

.search-nav-img:hover {
background: rgb(216, 216, 216);
}

#header-nav {
    border-bottom: rgba(0, 0, 0, 0.137) solid 1px;
    padding: .25em 0 0 190px;
    height: 2.25em;
}

.nav-link-list {
    display: flex;
    align-items: flex-start;
    height: 100%;
    margin-right: 1.5em;
}

.nav-link-list-item {
    margin: 0 .5em 0;
    opacity: 70%;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-link:visited {
    color: rgb(31, 31, 31);
}

#nav-link-tools {
    display: flex;
    align-items: center;
    margin-left: 6em;
}

#nav-link-tools:visited {
    color: rgb(31, 31, 31);
}

#placeholder-img {
    visibility: hidden;
}

main {
    width: 650px;
    margin-left: 195px;
}

#results-quantity {
    opacity: 60%;
    margin-top: 1em;
    margin-bottom: -1.75em;
}

.result {
    margin-top: 3em;
    margin-bottom: 3em;
}

.result-link {
    display: inline-block;
}

.result-source-div {
    margin-bottom: .5em;
    color: black;
}

.result-source {
    display: inline-block;
    padding-bottom: 2px;
}

.result-span {
    display: inline-block;
    opacity: 75%;
    padding-bottom: 2px;
}

.results-img {
    width: 18px;
    vertical-align: bottom;
    padding-left: 10px;
    opacity: 75%;
}

.result-heading {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.result-description {
    opacity: 75%;
}

#also-ask {
    margin-top: 3em;
    position: relative;
}

.also-ask-heading {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.dropdown-heading {
    font-size: 1.1em;
    margin-top: 1px;
    display: flex;
    align-items: center;
}

.dropdown-wrapper {
    padding: .8em 0 .8em;
    border-top: solid rgba(0, 0, 0, 0.138) 1px;
    border-bottom: solid rgba(0, 0, 0, 0.138) 1px;
}

.dropdown-result-div {
    margin-top: 1em;
}

strong {
    display: inline-block;
    font-weight: bold;
    margin-bottom: .75em;
}

.dropdown-desc {
    font-size: 1.1em;
}

.sub-date {
    font-size: .75em;
    opacity: 75%;
}

.search-for {
    margin-top: 2em;
}

#videos {
    position: relative;
    display: flex;
    flex-direction: column;
}

#videos > div:first-child, .video {
    padding-bottom: .5em;
    border-bottom: solid rgba(0, 0, 0, 0.138) 1px;
    margin-bottom: .5em;
}

.video:last-of-type {
    padding-bottom: 2.5em;
}

#videos-header {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 1em;
}

#videos-img {
    vertical-align: middle;
    margin-right: 1em;
}

#videos > div:first-child .results-img{
    vertical-align: top;
}

.video-player {
    height: 80px;
    width: 150px;
    border-radius: 12px;
}

.video-info-div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 83px;
    margin-left: 1em;
}

.video-info-div div{
    position: absolute;
    bottom: 0;
}

.video-link {
    display: inline-block;
    margin-top: .2em;
    font-size: 1.1em;
}

.source-title {
    width: max-content;
    margin-bottom:.35em ;
}

.channel-name {
    opacity: 75%;
    margin-left: 1.5ch;
}

#video-feedback {
    bottom: 3em;
}

#videos-view-all {
    width: 25em;
    position: absolute;
    bottom: -.75em;
    align-self: center;
    border: solid rgba(0, 0, 0, 0.151) 1px;
    background: white;
    padding: .5em 1em .5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videos-view-all:hover {
    background: rgb(243, 243, 243);
}

#view-all-text {
    display: inline-block;
    text-align: center;
    flex-grow: 2;
}

#related {
    position: relative;
}

#related-dropdown-wrapper {
    padding: 0;
}

#related-heading {
    font-size: 1.5em;
    margin-bottom: .5em;
}

#related-heading-img {
    width: 80px;
}

#related-result-links {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}

.related-result-img {
    width: 90%;
    display: inline-block;
    object-fit: contain;
}

.related-result-link {
    display: block;
    width: min-content;
    flex-grow: 1;
    text-align: center;
}

.related-result-title {
    color: black;
}

.related-result-title:hover {
    text-decoration: underline;
}

#related > details:last-of-type {
    padding-bottom: 1.5em;
}